.carousel-caption {
	position: absolute;
	top: 10px;
	display: flex;
	flex-direction: column;	
	flex-wrap: wrap;
}

.carousel {
	&__caption {
		margin-bottom: 200px;
	}

	@media screen and (max-width: 700px) {
		display: none;
	}
}


.carousel-top {
	max-height: 400px;
	margin-top: 100px;
}

.center {
	display: flex;
	justify-content: center;
}

.seperator {
	padding: 10px;
}