.image__grid {
	@include grid;	
}

.image__block {
	background-color: $dark-color;
	padding: 20px;

	&.a {
		grid-column: 1 / 1;
		grid-row: 1 / 3;
	}

	&.b {
		grid-column: 2 / 4;
		grid-row: 1 / 1;
	}

	&.c {
		grid-column: 4 / 6;
		grid-row: 1 / 3;
	}

	&.d {
		grid-column: 2 / 4;
		grid-row: 2 / 2;
	}

	&.e {
		grid-column: 1 / 4;
		grid-row: 3 / 4;
	}

	&.f {
		grid-column: 4 / 6;
		grid-row: 3 / 4;
	}
}